In [1]:
import featuretools as ft

### data

In [8]:
data = ft.demo.load_mock_customer()
customers_df = data["customers"]
sessions_df = data["sessions"]
transactions_df = data["transactions"]

In [9]:
custormers_df

   customer_id zip_code           join_date date_of_birth
0            1    60091 2011-04-17 10:48:33    1994-07-18
1            2    13244 2012-04-15 23:31:04    1986-08-18
2            3    13244 2011-08-13 15:42:34    2003-11-21
3            4    60091 2011-04-08 20:08:14    2006-08-15
4            5    60091 2010-07-17 05:27:50    1984-07-28

In [13]:
sessions_df.sample(5)

    session_id  customer_id   device       session_start
15          16            2  desktop 2014-01-01 03:49:40
13          14            1   tablet 2014-01-01 03:28:00
32          33            2   mobile 2014-01-01 08:10:45
8            9            1  desktop 2014-01-01 02:15:25
34          35            3   mobile 2014-01-01 08:44:20

In [12]:
transactions_df.sample(5)

     transaction_id  session_id    transaction_time product_id  amount
264              40          20 2014-01-01 04:46:00          5   53.22
19              370           2 2014-01-01 00:20:35          1  106.99
314             186          23 2014-01-01 05:40:10          5  128.26
290             380          21 2014-01-01 05:14:10          5   57.09
379             261          28 2014-01-01 06:50:35          1  133.71

### entity

In [19]:
entities = {
    "customers": (customers_df, "customer_id"),
    "sessions": (sessions_df, "session_id", "session_start"),
    "transactions": (transactions_df, "transaction_id", "transaction_time")
}

### relationships

In [20]:
relationships = [
    ("sessions", "session_id", "transactions", "session_id"), 
    ("customers", "customer_id", "sessions", "customer_id")
]

### feature synthesis

In [17]:
feature_matrix_customers, features_defs = ft.dfs(entities = entities, 
                                                 relationships = relationships,
                                                 target_entity = "customers")
feature_matrix_customers

,zip_code,COUNT(sessions),NUM_UNIQUE(sessions.device),MODE(sessions.device),SUM(transactions.amount),STD(transactions.amount),MAX(transactions.amount),SKEW(transactions.amount),MIN(transactions.amount),MEAN(transactions.amount),...,NUM_UNIQUE(sessions.MODE(transactions.product_id)),NUM_UNIQUE(sessions.DAY(session_start)),NUM_UNIQUE(sessions.YEAR(session_start)),NUM_UNIQUE(sessions.MONTH(session_start)),NUM_UNIQUE(sessions.WEEKDAY(session_start)),MODE(sessions.MODE(transactions.product_id)),MODE(sessions.DAY(session_start)),MODE(sessions.YEAR(session_start)),MODE(sessions.MONTH(session_start)),MODE(sessions.WEEKDAY(session_start))
customer_id,,,,,,,,,,,,,,,,,,,,,
1,60091,8,3,mobile,9025.62,40.442059,139.43,0.019698,5.81,71.631905,...,4,1,1,1,1,4,1,2014,1,2
2,13244,7,3,desktop,7200.28,37.705178,146.81,0.098259,8.73,77.422366,...,4,1,1,1,1,3,1,2014,1,2
3,13244,6,3,desktop,6236.62,43.683296,149.15,0.418230,5.89,67.060430,...,4,1,1,1,1,1,1,2014,1,2
4,60091,8,3,mobile,8727.68,45.068765,149.95,-0.036348,5.73,80.070459,...,5,1,1,1,1,1,1,2014,1,2
5,60091,6,3,mobile,6349.66,44.095630,149.02,-0.025941,7.55,80.375443,...,5,1,1,1,1,3,1,2014,1,2

In [18]:
features_defs

[<Feature: zip_code>,
 <Feature: COUNT(sessions)>,
 <Feature: NUM_UNIQUE(sessions.device)>,
 <Feature: MODE(sessions.device)>,
 <Feature: SUM(transactions.amount)>,
 <Feature: STD(transactions.amount)>,
 <Feature: MAX(transactions.amount)>,
 <Feature: SKEW(transactions.amount)>,
 <Feature: MIN(transactions.amount)>,
 <Feature: MEAN(transactions.amount)>,
 <Feature: COUNT(transactions)>,
 <Feature: NUM_UNIQUE(transactions.product_id)>,
 <Feature: MODE(transactions.product_id)>,
 <Feature: DAY(join_date)>,
 <Feature: DAY(date_of_birth)>,
 <Feature: YEAR(join_date)>,
 <Feature: YEAR(date_of_birth)>,
 <Feature: MONTH(join_date)>,
 <Feature: MONTH(date_of_birth)>,
 <Feature: WEEKDAY(join_date)>,
 <Feature: WEEKDAY(date_of_birth)>,
 <Feature: SUM(sessions.STD(transactions.amount))>,
 <Feature: SUM(sessions.MAX(transactions.amount))>,
 <Feature: SUM(sessions.SKEW(transactions.amount))>,
 <Feature: SUM(sessions.MIN(transactions.amount))>,
 <Feature: SUM(sessions.MEAN(transactions.amount))>,
 <Feature: SUM(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: STD(sessions.SUM(transactions.amount))>,
 <Feature: STD(sessions.MAX(transactions.amount))>,
 <Feature: STD(sessions.SKEW(transactions.amount))>,
 <Feature: STD(sessions.MIN(transactions.amount))>,
 <Feature: STD(sessions.MEAN(transactions.amount))>,
 <Feature: STD(sessions.COUNT(transactions))>,
 <Feature: STD(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MAX(sessions.SUM(transactions.amount))>,
 <Feature: MAX(sessions.STD(transactions.amount))>,
 <Feature: MAX(sessions.SKEW(transactions.amount))>,
 <Feature: MAX(sessions.MIN(transactions.amount))>,
 <Feature: MAX(sessions.MEAN(transactions.amount))>,
 <Feature: MAX(sessions.COUNT(transactions))>,
 <Feature: MAX(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: SKEW(sessions.SUM(transactions.amount))>,
 <Feature: SKEW(sessions.STD(transactions.amount))>,
 <Feature: SKEW(sessions.MAX(transactions.amount))>,
 <Feature: SKEW(sessions.MIN(transactions.amount))>,
 <Feature: SKEW(sessions.MEAN(transactions.amount))>,
 <Feature: SKEW(sessions.COUNT(transactions))>,
 <Feature: SKEW(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MIN(sessions.SUM(transactions.amount))>,
 <Feature: MIN(sessions.STD(transactions.amount))>,
 <Feature: MIN(sessions.MAX(transactions.amount))>,
 <Feature: MIN(sessions.SKEW(transactions.amount))>,
 <Feature: MIN(sessions.MEAN(transactions.amount))>,
 <Feature: MIN(sessions.COUNT(transactions))>,
 <Feature: MIN(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MEAN(sessions.SUM(transactions.amount))>,
 <Feature: MEAN(sessions.STD(transactions.amount))>,
 <Feature: MEAN(sessions.MAX(transactions.amount))>,
 <Feature: MEAN(sessions.SKEW(transactions.amount))>,
 <Feature: MEAN(sessions.MIN(transactions.amount))>,
 <Feature: MEAN(sessions.MEAN(transactions.amount))>,
 <Feature: MEAN(sessions.COUNT(transactions))>,
 <Feature: MEAN(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: NUM_UNIQUE(sessions.MODE(transactions.product_id))>,
 <Feature: NUM_UNIQUE(sessions.DAY(session_start))>,
 <Feature: NUM_UNIQUE(sessions.YEAR(session_start))>,
 <Feature: NUM_UNIQUE(sessions.MONTH(session_start))>,
 <Feature: NUM_UNIQUE(sessions.WEEKDAY(session_start))>,
 <Feature: MODE(sessions.MODE(transactions.product_id))>,
 <Feature: MODE(sessions.DAY(session_start))>,
 <Feature: MODE(sessions.YEAR(session_start))>,
 <Feature: MODE(sessions.MONTH(session_start))>,
 <Feature: MODE(sessions.WEEKDAY(session_start))>]

In [22]:
feature_matrix_sessions, features_defs = ft.dfs(entities = entities, 
                                                relationships = relationships,
                                                target_entity = "sessions")
feature_matrix_sessions

,customer_id,device,SUM(transactions.amount),STD(transactions.amount),MAX(transactions.amount),SKEW(transactions.amount),MIN(transactions.amount),MEAN(transactions.amount),COUNT(transactions),NUM_UNIQUE(transactions.product_id),...,customers.NUM_UNIQUE(transactions.product_id),customers.MODE(transactions.product_id),customers.DAY(join_date),customers.DAY(date_of_birth),customers.YEAR(join_date),customers.YEAR(date_of_birth),customers.MONTH(join_date),customers.MONTH(date_of_birth),customers.WEEKDAY(join_date),customers.WEEKDAY(date_of_birth)
session_id,,,,,,,,,,,,,,,,,,,,,
1,2,desktop,1229.01,41.600976,141.66,0.295458,20.91,76.813125,16,5,...,5,4,15,18,2012,1986,4,8,6,0
2,5,mobile,746.96,45.893591,135.25,-0.160550,9.32,74.696000,10,5,...,5,5,17,28,2010,1984,7,7,5,5
3,4,mobile,1329.00,46.240016,147.73,-0.324012,8.70,88.600000,15,5,...,5,2,8,15,2011,2006,4,8,4,1
4,1,mobile,1613.93,40.187205,129.00,0.234349,6.29,64.557200,25,5,...,5,4,17,18,2011,1994,4,7,6,0
5,4,mobile,777.02,48.918663,139.20,0.336381,7.43,70.638182,11,5,...,5,2,8,15,2011,2006,4,8,4,1
6,1,tablet,1266.60,42.654755,139.23,-0.134754,8.74,84.440000,15,5,...,5,4,17,18,2011,1994,4,7,6,0
7,3,tablet,941.87,47.264797,146.31,0.618455,8.19,62.791333,15,5,...,5,1,13,21,2011,2003,8,11,5,4
8,4,tablet,1351.46,44.213242,143.85,0.200676,12.59,75.081111,18,5,...,5,2,8,15,2011,2006,4,8,4,1
9,1,desktop,1052.03,46.905665,132.72,0.226337,5.81,70.135333,15,5,...,5,4,17,18,2011,1994,4,7,6,0
10,2,tablet,1320.64,39.886614,142.44,-0.455197,15.80,88.042667,15,5,...,5,4,15,18,2012,1986,4,8,6,0
11,4,mobile,1155.82,35.466284,147.86,0.382868,27.02,77.054667,15,4,...,5,2,8,15,2011,2006,4,8,4,1
12,4,desktop,771.68,50.281655,143.96,-0.044916,8.37,77.168000,10,5,...,5,2,8,15,2011,2006,4,8,4,1
13,4,mobile,947.56,54.293903,142.28,-0.169461,5.73,78.963333,12,4,...,5,2,8,15,2011,2006,4,8,4,1
14,1,tablet,1025.63,39.825249,139.09,-0.830975,6.78,85.469167,12,5,...,5,4,17,18,2011,1994,4,7,6,0
15,2,desktop,634.84,47.935920,146.81,0.130019,12.07,79.355000,8,5,...,5,4,15,18,2012,1986,4,8,6,0
16,2,desktop,965.81,27.839228,138.38,0.074890,56.46,96.581000,10,5,...,5,4,15,18,2012,1986,4,8,6,0
17,2,tablet,1004.96,33.725036,118.85,-0.314918,21.82,77.304615,13,5,...,5,4,15,18,2012,1986,4,8,6,0
18,1,desktop,943.28,36.044179,133.49,0.032359,26.36,78.606667,12,5,...,5,4,17,18,2011,1994,4,7,6,0
19,3,desktop,944.85,36.167220,126.74,0.531588,6.65,55.579412,17,5,...,5,1,13,21,2011,2003,8,11,5,4
20,5,desktop,1000.00,37.886094,135.99,0.374008,16.54,66.666667,15,5,...,5,5,17,28,2010,1984,7,7,5,5
21,4,desktop,1290.64,47.685642,149.95,0.332972,6.84,71.702222,18,5,...,5,2,8,15,2011,2006,4,8,4,1
22,4,desktop,1104.50,29.026424,143.16,-0.711744,54.83,110.450000,10,4,...,5,2,8,15,2011,2006,4,8,4,1
23,3,desktop,889.21,35.704680,128.26,-0.289466,20.06,80.837273,11,5,...,5,1,13,21,2011,2003,8,11,5,4
24,5,tablet,1137.72,51.149250,146.46,-0.061652,16.46,81.265714,14,5,...,5,5,17,28,2010,1984,7,7,5,5
25,3,desktop,1022.05,46.172736,149.15,0.559346,5.89,63.878125,16,5,...,5,1,13,21,2011,2003,8,11,5,4
26,1,tablet,809.97,30.450261,118.90,0.640252,7.08,50.623125,16,5,...,5,4,17,18,2011,1994,4,7,6,0
27,1,mobile,894.09,44.354104,139.43,0.394745,5.91,59.606000,15,5,...,5,4,17,18,2011,1994,4,7,6,0
28,5,mobile,1700.67,48.552243,149.02,-0.539060,15.97,94.481667,18,5,...,5,5,17,28,2010,1984,7,7,5,5
29,1,mobile,1420.09,32.324534,126.11,-1.038434,11.62,88.755625,16,5,...,5,4,17,18,2011,1994,4,7,6,0
30,5,desktop,1221.13,39.658094,144.53,-0.200571,7.55,87.223571,14,5,...,5,5,17,28,2010,1984,7,7,5,5
31,2,mobile,1240.19,39.414339,143.45,0.755711,18.81,68.899444,18,5,...,5,4,15,18,2012,1986,4,8,6,0
32,5,mobile,543.18,36.734681,128.51,0.602209,20.65,67.897500,8,5,...,5,5,17,28,2010,1984,7,7,5,5
33,2,mobile,804.83,28.298415,100.04,-0.763603,8.73,61.910000,13,5,...,5,4,15,18,2012,1986,4,8,6,0
34,3,desktop,1477.97,50.110120,148.86,0.011187,14.48,82.109444,18,5,...,5,1,13,21,2011,2003,8,11,5,4
35,3,mobile,960.67,41.880342,148.31,0.854976,10.94,60.041875,16,4,...,5,1,13,21,2011,2003,8,11,5,4

In [23]:
features_defs

[<Feature: customer_id>,
 <Feature: device>,
 <Feature: SUM(transactions.amount)>,
 <Feature: STD(transactions.amount)>,
 <Feature: MAX(transactions.amount)>,
 <Feature: SKEW(transactions.amount)>,
 <Feature: MIN(transactions.amount)>,
 <Feature: MEAN(transactions.amount)>,
 <Feature: COUNT(transactions)>,
 <Feature: NUM_UNIQUE(transactions.product_id)>,
 <Feature: MODE(transactions.product_id)>,
 <Feature: DAY(session_start)>,
 <Feature: YEAR(session_start)>,
 <Feature: MONTH(session_start)>,
 <Feature: WEEKDAY(session_start)>,
 <Feature: customers.zip_code>,
 <Feature: NUM_UNIQUE(transactions.DAY(transaction_time))>,
 <Feature: NUM_UNIQUE(transactions.YEAR(transaction_time))>,
 <Feature: NUM_UNIQUE(transactions.MONTH(transaction_time))>,
 <Feature: NUM_UNIQUE(transactions.WEEKDAY(transaction_time))>,
 <Feature: MODE(transactions.DAY(transaction_time))>,
 <Feature: MODE(transactions.YEAR(transaction_time))>,
 <Feature: MODE(transactions.MONTH(transaction_time))>,
 <Feature: MODE(transactions.WEEKDAY(transaction_time))>,
 <Feature: customers.COUNT(sessions)>,
 <Feature: customers.NUM_UNIQUE(sessions.device)>,
 <Feature: customers.MODE(sessions.device)>,
 <Feature: customers.SUM(transactions.amount)>,
 <Feature: customers.STD(transactions.amount)>,
 <Feature: customers.MAX(transactions.amount)>,
 <Feature: customers.SKEW(transactions.amount)>,
 <Feature: customers.MIN(transactions.amount)>,
 <Feature: customers.MEAN(transactions.amount)>,
 <Feature: customers.COUNT(transactions)>,
 <Feature: customers.NUM_UNIQUE(transactions.product_id)>,
 <Feature: customers.MODE(transactions.product_id)>,
 <Feature: customers.DAY(join_date)>,
 <Feature: customers.DAY(date_of_birth)>,
 <Feature: customers.YEAR(join_date)>,
 <Feature: customers.YEAR(date_of_birth)>,
 <Feature: customers.MONTH(join_date)>,
 <Feature: customers.MONTH(date_of_birth)>,
 <Feature: customers.WEEKDAY(join_date)>,
 <Feature: customers.WEEKDAY(date_of_birth)>]